ESE/dogs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CanineDetailType">
    <xs:sequence>
      <xs:element name="Breed" type="xs:string"/>
      <xs:element name="Color" type="xs:string"/>
      <xs:element name="Country" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CanineDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Canine" type="CanineDetailType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
